*{
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(121, 121, 85);
    padding: 80px;
    background: linear-gradient(to top right,rgb(9, 33, 6),rgb(29, 41, 9),rgb(73, 51, 51));
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6rem;
}
h2{
    color:rgb(217, 219, 219);
}

.Accordion{
    background-color:rgb(134, 134, 110);
    padding: 2px 20px;
    margin-bottom:20px;
    border-radius: 20px;
    box-shadow: 5px 5px 12px rgb(17, 46, 34);
    cursor: pointer;
}

.question{
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.icon{
    margin-right: 20px;
    transition: transform 0.2s;
    
}
/* create a active class for icon  */
.icon.active{
    transform: rotate(-180deg);
}
.answer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(22, 5, 5);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s;
}

/* create expanded state of answer  */
/* this is not a good practice  */
/* here we use the scroll height in max-height that not define in the css so we use the js for that  */
/* .answer.active{
    max-height: max-content;
} */

.circle{
    width:100px;
    height: 100px;
    border-radius: 40px;
    box-shadow: 3px 3px 100PX rgb(112, 118, 111) ;
    background:linear-gradient(to top right, rgb(6, 8, 14),rgb(45, 103, 63),rgb(53, 3, 3)) ;
    position: absolute;
}
.c1{
    top: 10px;
    right: 20px;
}
/* .c2{
    bottom: 5px;
    right: 20px;
} */