/* Display Topics */

/* 1.Display value 
       a.block : paragraph , heading(<h1> to <h6>) ,division,form,list(<ol>,<ul>and <li>)

        b.inline:span , anchor(<a>)
        drawbacks: we can't define height , width 
        and margin only define for left and right 


        c.inline-block: image 

        d.none 
        
        e.flex (in 10.flex container)*/


*{
        /* solid box  */
        /* border: 1px solid rgb(129, 45, 45); */
        /* and we also download te extension pesticide  */


        margin:0;
        padding:0;
        box-sizing:border-box;
}
body{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: medium;
        font-style: oblique;
}
p{
        /* width: 50%; */
        color: rgb(205, 93, 183);
        display: inline-block;
        width:300px;
}
ul{
        list-style: none;
        text-align: end;
        padding: 30px;
        background-color: rosybrown;
        color: darkslateblue;
}
li{
        display: inline;
        padding:20px;
}
/* pseudo class  */
li:hover{
       color:black; 
       cursor: pointer;
}























































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































